/*PERSONNALISATION PAGE*/
/*BACKGROUND*/

body {
	background: url('../../img/fond/lando.jpg') center no-repeat;
	background-size: cover;
	margin: 0;
	width: 100%;
	height: 100%;
}

/*QUOTE*/
.zoom{
	background: url('../../img/quote/lando.jpg') no-repeat center;
	background-size: cover;
}

/*DESCRIPTION COLOR*/
.column-1{
	color: #0c329f;
}

.column-3{
	color: #0c329f;
}

.description{
	border: solid thin #0c329f;
	border-right: none;
}

/*NAV DOTS COLOR*/

#fp-nav.left {
    left: 60px;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
    background: #0c329f;
    position: absolute;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border: 1px solid #0c329f;
    background: rgba(56, 56, 56, 1);
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span,
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 8px;
    height: 8px;
    margin: -2px 0 0 -2px;
}
